.env
.idea
.DS_Store
mariadb/data/*
mariadb/logs/*
mariadb/conf/*
!mariadb/data/.gitignore
!mariadb/logs/.gitignore
!mariadb/conf/.gitignore
writable/cache
writable/cache/*
writable/debugbar
writable/debugbar/*
writable/logs
writable/logs/*
writable/session
writable/session/*
writable/uploads
writable/uploads/*
uploads/*